@font-face {
    font-family: 'WalterTurncoat';
    src: url(../fonts/WalterTurncoat.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
  }

@font-face {
    font-family: 'muli-regular';
    src: url(../fonts/muli-regular-webfont.woff2) format("woff2"), url(../fonts/muli-regular-webfont.woff) format("woff");
    font-style: normal;
    font-weight: normal;
  }

body {
    background: url(../img/pam-blog.svg) right bottom no-repeat, linear-gradient( rgba(241, 247, 254, 1), rgba(144, 192, 244, 1) );
}
input {
    width: 80%;
}
h1, h2, h3, h4, h5, h6 {
    color: #1B5E20;
    font-family: 'WalterTurncoat';
}
.container {
    margin: 2% 10% 10% 10%;
    padding: 1%;
    background: rgba(255, 255, 255, 0.8);
    min-height: 400px;
    border-radius: 5px;
    font-family: "muli-regular";
    box-shadow: 2px 1px 3px rgb(16, 126, 2);
}
.kiri {
    text-align: right;
    padding: 10px;
}
.kanan {
    text-align: left;
    padding: 10px;
}
.btn {
    box-shadow: 2px 1px 1px rgb(16, 126, 2);
}
.footer {
    font-size: 10px;
    font-weight: bold;
}
.list-group-item:focus, .list-group-item:hover {
    z-index: 1;
    text-decoration: none;
    background: #ccebff;
}